header {
  background-color: #ebeef0;
  border-bottom: 1px solid #BDBDBD;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0 200px;
}

.nav__name {
  color: inherit;
  padding: 20px 30px;
  margin: 0;
}

.nav__name.selected {
  background-color: #d2d4d6;
}


.nav__name > h4 {
  margin: 0;
}

.nav__search-input {
  /* width: 300px; */
  padding: 5px;
}

.nav__search-button {
  padding: 5px 40px;
  margin-left: 10px;
  border: 2px solid var(--color-info);
  color: var(--color-info);
}
